{{- $isWSL := false -}}
{{- if eq .chezmoi.os "linux" -}}
  {{- $isWSL = contains "microsoft" (.chezmoi.kernel.osrelease | lower) -}}
{{- end -}}

{{- $location := "work" -}}

{{- if $isWSL -}}
    {{- $location = "wsl" -}}
{{- else -}}
    {{- $domain := env "USERDOMAIN" -}}
    {{- if eq $domain "HIRO" -}}
        {{- $location = "home" -}}
    {{- end -}}
{{- end -}}

[data]
    location = {{ $location | quote }}
    isWSL = {{ $isWSL }}

[edit]
    command = "code"
    args = ["--wait"]

[merge]
    command = "code"
    args = ["--wait", "--diff", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}"]