[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = haoblackj
	email = yagu001@scientia-lebensborn.com
[core]
	autocrlf = false
