{{- if eq .chezmoi.os "windows" }}
$ErrorActionPreference = "Stop"

$uri = "https://raw.githubusercontent.com/LGUG2Z/komorebi-application-specific-configuration/master/applications.json"
$target = Join-Path $HOME "applications.json"
$temp = "$target.tmp"

if ($PSVersionTable.PSVersion.Major -lt 6) {
    [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
}

Write-Host "komorebi app-specific configuration を取得します: $target"
Invoke-WebRequest -Uri $uri -OutFile $temp -UseBasicParsing -TimeoutSec 30
Move-Item -LiteralPath $temp -Destination $target -Force

exit 0
{{- end }}
