#!/bin/bash
set -eu

systemctl --user disable --now ssh-agent 2>/dev/null || true
systemctl --user enable bitwarden-ssh-agent
systemctl --user start bitwarden-ssh-agent

sudo systemctl enable wsl-static-dns.service
sudo systemctl enable docker
