#!/bin/bash
set -u

# homebrew.herdr.service.d/override.conf hash: {{ include "dot_config/systemd/user/homebrew.herdr.service.d/override.conf" | sha256sum }}

if [ -f "$HOME/.config/systemd/user/homebrew.herdr.service" ]; then
  systemctl --user daemon-reload
  systemctl --user restart homebrew.herdr.service
fi
